root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

[*.java]
indent_size = 4

[*.md]
max_line_length = off
trim_trailing_whitespace = false

[*.puml]
insert_final_newline = false

[{Dockerfile,Dockerfile.*}]
indent_size = 4

[.vscode/*.json]
indent_size = 4
