<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>plantuml</display-name>
    <servlet>
        <servlet-name>plantumlservlet</servlet-name>
        <servlet-class>net.sourceforge.plantuml.servlet.PlantUmlServlet</servlet-class>
    </servlet>
    <!-- Patterns of the servlet -->
    <servlet-mapping>
        <servlet-name>plantumlservlet</servlet-name>
        <url-pattern>/uml/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>plantumlservlet</servlet-name>
        <url-pattern>/form</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>plantumlservlet</servlet-name>
        <url-pattern>/img/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>plantumlservlet</servlet-name>
        <url-pattern>/start/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>plantumlservlet</servlet-name>
        <url-pattern>/proxy/*</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
    	<welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error.jsp</location>
    </error-page>
</web-app>
