/******************************
* PlantUMLServlet style sheet *
******************************/

/* Header */
#header {
    margin-left: auto;
    margin-right: auto;    
    text-align: center;
}

/* Form inputs */
#content textarea, #content input[type=text] {
    width: 900px;
}

/* Diagram */
#content img#diagram {
    border: thin solid green;
}
