/******************************
* PlantUMLServlet style sheet *
******************************/

/* Font */
* {
    font-family: sans-serif;
}

/* Header */
#header {
    margin-left: auto;
    margin-right: auto;    
    text-align: center;
}

/* Content */
#content {
    margin-left: auto;
    margin-right: auto;
    width: 95%;    
}

/* Form inputs */
#content textarea, #content input[type=text] {
    background-color: #ffc;
    font-family: monospace;
    width: 100%;
}

/* XHTML tag */
#content code {
    font-family: monospace;
}

/* Diagram */
#content img#diagram {
    border: medium solid green;
    padding: 10px;
}
