/******************************
* PlantUMLServlet style sheet *
******************************/

/* Font */
* {
    font-family: arial,helvetica,sans-serif;
}

/* Header */
#header {
    margin-left: 170px;
    margin-right: 5px;    
    text-align: center;
}

/* Content */
#content {
    margin-left: 170px;
    margin-right: 5px;
}

/* Form inputs */
#content textarea, #content input[type=text] {
    background-color: #ffc;
    font-family: monospace;
    width: 100%;
}

/* XHTML tag */
#content code {
    font-family: 'courier new',courier,monospace;
    letter-spacing: -1pt;
}

/* Diagram */
#content #diagram {
    text-align: center;
}

#content #diagram img {
    border: medium solid green;
    padding: 10px;
}

/* Footer */
#footer p {
    margin-left: 170px;
	background-color: #eee;
    color: #666;
    font-size: 0.7em;
    padding: 2px;
    text-align: center;
}

#loading {
    margin-left: 170px;
	background-color: #eee;
    color: #333;
    font-size: 0.7em;
    padding: 2px;
    text-align: center;
}

#side2 {
    position: fixed !important;
    position: absolute; /* IE6 reads this */
    height: 600px;
    width: 160px;
    bottom: 10px;
    left: 5px;
    padding-top: 0px;
    z-index: 1;
}

