/******************************
* PlantUMLServlet style sheet *
******************************/

/* Font */
h1, p, #content a {
    font-family: arial,helvetica,sans-serif;
    /* font-size: medium; */
}

/* Header */
#header {
    margin-left: auto;
    margin-right: auto;    
    text-align: center;
}

/* Content */
#content {
    margin-left: auto;
    margin-right: auto;
    width: 95%;    
}

/* Form inputs */
#content textarea, #content .CodeMirror, #content input[type=text] {
    background-color: #ffc;
    font-family: monospace;
    width: 100%;
}

#content .code-block {
    height: 400px;
}

#content textarea, #content .CodeMirror {
    height: 100%;
}

/* Diagram */
#content #diagram {
    text-align: center;
}

#content #diagram img {
    border: medium solid green;
    padding: 10px;
}

/* Footer */
#footer p {
    background-color: #eee;
    color: #666;
    font-size: 0.7em;
    padding: 2px;
    text-align: center;
    width: 100%;
}

.inline-form {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 3px 0 5px 0;
}

.inline-input-wrapper {
    flex-grow: 10;
}

#autorefresh {
    cursor: pointer;
}

#autorefresh.on {
    filter: invert(25%) sepia(97%) saturate(2026%) hue-rotate(201deg) brightness(91%) contrast(98%);
}

#autorefresh.off {
    filter: invert(94%) sepia(0%) saturate(7471%) hue-rotate(37deg) brightness(91%) contrast(87%);
}
