/******************************
* PlantUMLServlet style sheet *
******************************/

/* Font */
h1, p, #content a {
    font-family: arial,helvetica,sans-serif;
    /* font-size: medium; */
}

/* Header */
#header {
    margin-left: auto;
    margin-right: auto;    
    text-align: center;
}

/* Content */
#content {
    margin-left: auto;
    margin-right: auto;
    width: 95%;    
}

/* Form inputs */
#content textarea, #content .CodeMirror, #content input[type=text] {
    background-color: #ffc;
    font-family: monospace;
    font-size: medium;
    width: 100%;
}

#content input[type=text] {
    border: 0;
}

/* Diagram */
#content #diagram {
    text-align: center;
}

#content #diagram img {
    border: medium solid green;
    padding: 10px;
}

/* Footer */
#footer p {
    background-color: #eee;
    color: #666;
    font-size: 0.7em;
    padding: 2px;
    text-align: center;
    width: 100%;
}
