/******************************
* PlantUMLServlet style sheet *
******************************/

/* Font */
h1, p, #content a {
    font-family: arial,helvetica,sans-serif;
    /* font-size: medium; */
}

/* Header */
#header {
    margin-left: auto;
    margin-right: auto;    
    text-align: center;
}

/* Content */
#content {
    margin-left: auto;
    margin-right: auto;
    width: 95%;    
}

/* Form inputs */
#content textarea, #content .CodeMirror, #content input[type=text] {
    background-color: #ffffff;
    font-family: monospace;
    font-size: medium;
    width: 100%;
    resize: vertical;
    border: 3px solid #ccc !important;
}

#content input[type=text] {
    border: 0;
}

#content input[type="submit"] {
    margin-top: 10px;
    padding: 5px;
    background: #fafafa;
    border: 1px solid black;
}

#content input[type="submit"]:hover {
    background: #f0f0f0;
}

/* Diagram */
#content #diagram {
    text-align: center;
}

#content #diagram img {
    border: medium solid green;
    padding: 10px;
}

/* Footer */
#footer p {
    background-color: #eee;
    color: #666;
    font-size: 0.7em;
    padding: 2px;
    text-align: center;
    width: 100%;
}