<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>plantuml</display-name>
	<context-param>
		<param-name>org.eclipse.jetty.servlet.Default.welcomeServlets</param-name>
		<param-value>exact</param-value>
	</context-param>
	<servlet>
		<servlet-name>jsp</servlet-name>
		<servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
		<init-param>
			<param-name>compilerSourceVM</param-name>
			<param-value>1.7</param-value>
		</init-param>
		<init-param>
			<param-name>compilerTargetVM</param-name>
			<param-value>1.7</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>plantumlservlet</servlet-name>
		<servlet-class>net.sourceforge.plantuml.servlet.PlantUmlServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>welcome</servlet-name>
		<servlet-class>net.sourceforge.plantuml.servlet.Welcome</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>imgservlet</servlet-name>
		<servlet-class>net.sourceforge.plantuml.servlet.ImgServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>svgservlet</servlet-name>
		<servlet-class>net.sourceforge.plantuml.servlet.SvgServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>epsservlet</servlet-name>
		<servlet-class>net.sourceforge.plantuml.servlet.EpsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>epstextservlet</servlet-name>
		<servlet-class>net.sourceforge.plantuml.servlet.EpsTextServlet</servlet-class>
	</servlet>
    <servlet>
        <servlet-name>base64servlet</servlet-name>
        <servlet-class>net.sourceforge.plantuml.servlet.Base64Servlet</servlet-class>
    </servlet>
	<servlet>
		<servlet-name>asciiservlet</servlet-name>
		<servlet-class>net.sourceforge.plantuml.servlet.AsciiServlet</servlet-class>
	</servlet>
    <servlet>
        <servlet-name>proxyservlet</servlet-name>
        <servlet-class>net.sourceforge.plantuml.servlet.ProxyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>oldproxyservlet</servlet-name>
        <servlet-class>net.sourceforge.plantuml.servlet.OldProxyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mapservlet</servlet-name>
        <servlet-class>net.sourceforge.plantuml.servlet.MapServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkservlet</servlet-name>
        <servlet-class>net.sourceforge.plantuml.servlet.CheckSyntaxServlet</servlet-class>
    </servlet>
	<!-- Patterns of the servlet -->
	<servlet-mapping>
		<servlet-name>plantumlservlet</servlet-name>
		<url-pattern>/welcome</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>plantumlservlet</servlet-name>
		<url-pattern>/uml/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>plantumlservlet</servlet-name>
		<url-pattern>/form</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
        <servlet-name>imgservlet</servlet-name>
        <url-pattern>/png/*</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
		<servlet-name>imgservlet</servlet-name>
		<url-pattern>/img/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>svgservlet</servlet-name>
		<url-pattern>/svg/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>epsservlet</servlet-name>
		<url-pattern>/eps/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>epstextservlet</servlet-name>
		<url-pattern>/epstext/*</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
        <servlet-name>base64servlet</servlet-name>
        <url-pattern>/base64/*</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
		<servlet-name>asciiservlet</servlet-name>
		<url-pattern>/txt/*</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkservlet</servlet-name>
        <url-pattern>/check/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mapservlet</servlet-name>
        <url-pattern>/map/*</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
		<servlet-name>plantumlservlet</servlet-name>
		<url-pattern>/start/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>oldproxyservlet</servlet-name>
		<url-pattern>/proxy/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>proxyservlet</servlet-name>
		<url-pattern>/proxy</url-pattern>
	</servlet-mapping>
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/error.jsp</location>
	</error-page>
	<welcome-file-list>
		<welcome-file>welcome</welcome-file>
	</welcome-file-list>
</web-app>
